/*
 * Covide
 */

* {
	margin: 0;
	padding: 0;
}
td.list_data ol, td.list_data ul {
	margin: 20px;
}
html{height:100%;}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #273740;
	/* background: #fff url(1bgreverse.png) repeat-x left top; */
}

h1 {
	font-size: 120%; 
	font-weight: bold;
}
h2{font-size:120%;}

a {
	color: #273740; 
	text-decoration: none;
}

a:hover {
	color: #16abf6;
}

a img {
	border: none;
}


.fl_left {
	float: left;
}

.fl_right {
	float: right;
}
.mod_content ul{margin:6px 6px 6px 18px !important; }


/*
 * Layout
 */
#headerwrap {
	background-color: transparent;
	/* background: url(1bg_header.gif) repeat-x left top; */
	width: 100%; 
	height: 106px; 
	overflow: hidden; 
	margin: 0 auto;
}

#header {
	width: 96%; 
	height: 100px; 
	background-color: transparent; 
	margin: 0 auto;
}

#headerleft {
	width: 230px; 
	height: 70px; 
	float: left; 
	overflow: hidden;
}

#headerright {
	width: 400px; 
	height: 70px; 
	float: right;
}

#topnav {
	width: 100%;
	height: 36px;
	background-color: #FFFFFF;
	line-height: 30px;
	float: left;
	overflow: hidden;
}

#pagecontainer {
	background: transparent;
	width: 100%;
	height: auto;
	display: block;
	overflow: auto;
}

#contentcontainer {
	background-color: #fff;
	width: 96%;
	height: auto;
	display: block;
	margin: 0 auto;
	padding:0;
	overflow: hidden;
}

#maincontent {
	/*width: 86%;*/
	width:84%;
	height: auto;
	min-height: 30%;
	border: 1px solid #e2e2e2;
	border-style: none none none none;
	float: left; 
	margin: 1% 0 ;
	display: inline;
	overflow:hidden; /* calendar monthview */ 
}

#maincontent_fullwidth {
	width: 100%;
	height: auto;
	min-height: 30%;
	float: left; 
	margin: 1% 0 1% 0;
	display: inline;
}

#sidebar {
	float: left;
	width: 15%;
	height: auto;
	min-height: 90%;
	margin: 1% 0 4% 1%;
	
	padding: 22px 0 1px 0;
	display: inline;
}

/* Login page specific styles */
#login_main{
	border: 1px solid #bfd8ff;
	width:340px; 
	height:400px; 
	position:absolute;
	left:50%;
	margin-left:-170px;
	top:50%;
	margin-top:-200px;
}
#logintable img {margin: 0 auto;}
#logintable p {padding:6px; text-align:center;}

/* Content vervolgpagina's */
#mod_header{width:100%; height:2%; display:block; border-bottom: 1px solid #fff; overflow:hidden;}
#mod_header_options{width:auto; height:auto; background:transparent; display:block; line-height:36px; overflow:hidden;}
.mod_header_options{width:auto; height:auto; background:transparent; display:block; overflow:hidden;}
.mod_content{background:#dee9fc; display:inline; float:left; width:100%; min-height: 20px; margin: 0 0 12px 0; overflow:visible;}
.mod_content_options{width:99%; height:auto; background:#bfd8ff; border-top: 1px solid #fff; padding:1% 0 1% 1%;}
.mod_content_options_alt{width:99%; height:auto; background:#d7e7ff; border-top: 1px solid #fff; padding:1% 0 1% 1%;}
.mod_content b{text-indent:4px;}
#footer{background:#fff; width:100%; min-height:30px; display:block; margin:0 auto; padding-top:4px; float: left;}
#mod_header_menu ul { list-style-type: none; padding-top: 20px; }
#mod_header_menu ul li { float: left; padding: 3px 6px; background-color: #aac8fc; border-left: 1px solid #fff}
#mod_header_menu ul li a { color: #273740}
#mod_header_menu ul li a:hover { text-decoration: none; color: #273740}
#mod_header_menu ul li:hover { float: left; padding: 3px 6px; background-color: #fff; }

#mod_footer_menu ul { list-style-type: none; padding-top: 0px; }
#mod_footer_menu ul li { float: left; padding: 3px 6px; background-color: #aac8fc; border-left: 1px solid #fff}
#mod_footer_menu ul li a { color: #273740}
#mod_footer_menu ul li a:hover { text-decoration: none; color: #273740}
#mod_footer_menu ul li:hover { float: left; padding: 3px 6px; background-color: #fff; }


#covide_info{background:/*#bfd8ff*/ #d4e1f6; width:100%; min-height:24px; display:block; margin:0 auto; padding-top:6px; float: left; position: fixed; bottom: 0px;}
#covide_performance_info{bottom:0px; background-color:transparent; display:block; width:94%; height:12%; text-align:right; padding-right:12px;}
#covide_performance_info_toggle{width:4%; height:12%; /*bottom:0px;*/ margin-top:0; background:transparent;}

/*
 * Topnav
 */
#topnav ul{background-color:#dee9fc; list-style-type:none; overflow:hidden; display:inline; height:30px; margin-top:6px; width:100%; display:block;}
#topnav ul li{float:left; margin-left:0;}
#topnav ul li a{border-right:1px solid #fff; color:#273740; text-decoration:none; float:left; margin:0 1px 0 0; padding:0 6px 0 24px; background-color:#dee9fc; width:auto;}
#topnav ul li a:hover{color:#333; background-color:#fff;}
#topnav ul li a.active{color:#333; background-color:#fff;}


/* Icons in de tabs*/
.finance{background:url(../../themes/default/modules/money_euro.png) no-repeat 4px 50%;}
.cms{background:url(../../themes/default/modules/cms.png) no-repeat 4px 50%;}
.address{background:url(../../themes/default/modules/address.png) no-repeat 4px 50%;}
.calendar{background:url(../../themes/default/modules/calendar.png) no-repeat 4px 50%;}
.notes{background:url(../../themes/default/modules/notes.png) no-repeat 4px 50%;}
.email{background:url(../../themes/default/modules/mail.png) no-repeat 4px 50%;}
.filemanagement{background:url(../../themes/default/modules/filemanagement.png) no-repeat 4px 50%;}
.projects{background:url(../../themes/default/modules/projects.png) no-repeat 4px 50%;}
.sales{background:url(../../themes/default/modules/sales.png) no-repeat 4px 50%;}
.support{background:url(../../themes/default/modules/support.png) no-repeat 4px 50%;}
.campaigns{background:url(../../themes/default/modules/campaigns.png) no-repeat 4px 50%;}
.chat{background:url(../../themes/default/modules/chat.png) no-repeat 4px 50%;}
.history{background:url(../../themes/default/modules/history.png) no-repeat 4px 50%;}
.todo{background:url(../../themes/default/modules/todo.png) no-repeat 4px 50%;}
.module_snack{background:url(../../themes/default/modules/snack.png) no-repeat 4px 50%;}

/*
 * Sidebar navigatie
 */
#sidebar ul {list-style-type:none; padding: 2px 0 0 0;  height:100%; margin-left:0; margin:13px 0 0 0; _margin-top:35px !important;}
#sidebar ul li {width:100%; height:1%; display:block; margin-left:0 !important;}
#sidebar ul li a{color:#333; width:100%; height:1%; background:#fff; border-bottom: 1px solid #e2e2e2; display:block; line-height:16px; padding: 4px 0; text-indent:6px; white-space: no-wrap;} 
#sidebar ul li a:hover{width:100%; height:1%; background:#dee9fc; color:#273740; border-right:1px solid #fff; display:block; padding: 4px 1px 4px 0; text-decoration:none;}
#sidebar ul li a.active{width:100%; height:1%; background:#dee9fc; border-right:1px solid #fff; display:block; padding: 4px 1px 4px 0;}
#sidebar ul li a.first{border-top:none !important;}
.first{border-top: 1px solid #e2e2e2;}

#menucalendar { text-align: center; width: 165px; height:auto; display:block; float: left; }
.calendar_table{ display:block !important; float:left;}

/*
 * Header options menu
 */
ul#quickmenu {display:inline; float:left; list-style-type:none; width:auto;}
ul#quickmenu li {/*float:left;*/ width:100%;}
ul#quickmenu li a {background: #fff; display:block; }

/*
 * Add Dashboard
 */
ul#add_dashboard {
	width:100%;
	height:24px;
	border-bottom: 1px solid #e2e2e2; 
	list-style-type:none;  
	line-height:24px; 
	display:block; margin: 1% 0 0 0; 
	overflow:visible; 
	z-index:6;
}
ul#add_dashboard li {float:left; margin-left:0;}
ul#add_dashboard li a{
	border-left: 1px solid #e2e2e2; 
	border-top: 1px solid #e2e2e2; 
	border-right: 1px solid #e2e2e2; 
	color:#666; 
	text-decoration:none; 
	float:left; 
	padding: 0 3px;
	display:block;
	outline:none;
}
ul#add_dashboard li a:hover{color:#333; padding: 0 3px; display:block;}
ul#add_dashboard li a.selected{background-color:#fff; display:block; height:24px; border-right:none;}	
ul#add_dashboard li a.add_block{color:#333; }

/*
 * Dashboard
 */
.dashboard{
	background-color:#fff;
	float:left; 
	border-left: 1px solid #e2e2e2; 
	border-right: 1px solid #e2e2e2; 
	border-bottom: 1px solid #e2e2e2; 
	display:block;
	width:100% !important; 
	height:auto; 
	margin:0 auto; 
}
.dashboard h3{padding:3px 0 3px 12px; font-weight:bold;}

#column_ownnotes {
	width: 96%;
}

/*
 * Sortables
 */
.col{background:transparent; width:31%; min-height:300px; float:left; border:none; margin: 9px;}

.block {width:100%; height:auto;background-color:#fff; border:1px solid #e2e2e2;margin:6px 0 12px 0;}
.block_header{width:100%; height:24px; border-bottom: 1px solid #aac8fc; cursor: move;}
.block_title {width:100%; background: #dee9fc /*#D4E1F6 url(gradientxxxx.png) repeat-x left -2px;*/}
.block_title h4{font-size:100%; height:24px; line-height:24px; padding:3px; display:inline; text-indent:6px;}
.block_options{display:inline; float:right; margin-top:-20px;}
.block_options a img{padding:4px 3px 3px 4px;}
.block_options a img:hover {cursor:hand;}
.block_options_toggle{background:url(icons/ui/hide.png) no-repeat center center; text-indent:-9999px;}
.block_options_remove{background: url(icons/ui/remove2.gif) no-repeat center center; text-indent:-9999px;}
.block_content{width:auto; height:auto; padding:6px; overflow:hidden;}

.block_content ul li{border-bottom: 1px dotted #e2e2e2; display:block;padding:3px 0;}
.block_content ul li span{margin-right:12px; width:120px;}
.icon{background-color:#283740;}
.action{padding:0 3px; margin-left:3px;}
.more{display:block;margin-top:3px;}

.data_table{border:1px solid #e2e2e2; border-collapse:collapse; width:99%;}
.data_table tr {border-bottom:1px solid #e2e2e2;padding:3px;}
.data_table td{border-left:1px solid #e2e2e2;padding:3px;}

/*
 * Modules
 */


/* Address */
#relcardtable h1{margin:0; border-bottom:1px solid #e2e2e2; padding:3px 0; text-indent:3px;}
#relcardtable .list_header{background:#aac8fc;}
#relcardtable .list_header_center{margin:0; padding:3px;}
#relcardtable .list_data{background: #dee9fc; padding:3px 0 3px 3px;}

#relcard_information,#relcard_extra,#relcard_bcards,#relcard_memo,#relcard_projects,#relcard_notes,
#relcard_customercontact,#relcard_todo,#relcard_calendar,#relcard_filemanagement,#relcard_sales,#relcard_morgage, #relcard_templates,#relcard_email{
	margin-top:12px; padding:3px;
	border:1px solid #e2e2e2;
}
#relcard_support{
	margin-top:29px; padding:3px;
	border:1px solid #e2e2e2;
}
#relcard_information h1,#relcard_extra h1, #relcard_bcards h1,#relcard_memo h1,#relcard_projects h1,#relcard_notes h1,
#relcard_customercontact h2, #relcard_todo h1, #relcard_calendar h1,#relcard_filemanagement h1,#relcard_sales h1, #relcard_morgage h1,
#relcard_templates h1,#relcard_email h1{
	border-bottom:1px solid #f4f4f4; display:block; margin-bottom:2px; padding:3px;
	}
	#relcard_support h1{
		border-bottom:1px solid #f4f4f4; display:block; margin-bottom:-2px; padding:3px;
	}
/* More actions */
.addressactionicons_show{float:left;}
.addressactionicons{float:right; width:120px; height:auto; padding:6px 0;}
.adressactionicons a{padding:8px 0; display:block; padding:3px 0; background: #fff; text-indent: 4px;}

/* Agenda */
ul#user_name_users li.enabled {margin-left:20px !important;}
ul#user_name_extrauser li.enabled {margin-left:20px !important;}

/* Email */
#email_sender_layer{height: 140px; display:block; border: 1px solid #333; padding:12px; z-index:10; overflow:hidden; padding-bottom:10px;}
#mailContent{width:100% !important;}
#user_name_mailusers{left:0 !important;}

/* Notes */
#user_name_noteto{left:0 !important;}


/*
 * Forms
 */
.inputtext{width:220px; padding:0 3px; _margin-top:1px;}
.inputselect{ border:1px solid #999; padding:2px 0 2px 2px;}
option{padding:0 3px;}

/*
 * Specific styles 
 */
#headerright p {color:#273740; padding: 4px 0 6px 0;}
#headerright a{color:#273740; text-decoration:none;}
#headerright a:hover{text-decoration:underline;}
#headerright input, #headerright option {padding:0 3px;}
#headerright .inputtext{height:18px; }
#headerright .inputselect{}
#mod_header h1{background:#fff; padding:3px; border: 1px solid #e2e2e2; border-style: none none none none;}

#maincontent h1{margin:6px 0;}
#footer p, #footer span{padding:12px 0 0 2%;}
#covide_performance_info img{padding:0 3px;}

/*
 * Theme 1 
 */
.test_bg_topnav{background: #fff;}

/* class for full height and width */
.fullheight {
	width: 100%;
	height: 100%;
}

/* style definitions for lists/views */
th.list_header, td.list_header, span.list_header  {
	background-color: #aac8fc;
	font-weight: bold;
	padding: 2px 3px 2px 3px;
	vertical-align: top;
	/*min-width:20%;*/
}
td.list_data_highlighted {
	background-color: #cdcdcd;
	padding: 2px;
	font-weight: bold;
	vertical-align: top;
	border: 1px solid #787821;
}
tr.list_data_highlighted_hover td {
	background-color: #cdcdcd;
}

th.list_header A, td.list_header A {
	color: #666;
	vertical-align: top;
}
th.list_header A:hover, td.list_header A:hover {
	background-color: #eee;
}
th.list_header_clean, td.list_header_clean {
	font-weight: bold;
	padding: 2px;
	vertical-align: top;
}
table.list_data_clean, td.list_data_clean {
	padding: 2px;
	vertical-align: top;
}

label.radiobutton {
	display: block;
	border: 1px solid transparent;
}
label.radiobutton:hover {
	background-color: #ddd;
	border: 1px solid #bbb;
}

table.view_header {
	margin:5px 0 5px 0;
	width: 100%;
}
table.view_header td {
	padding:1px 0 1px 3px;
}

#errordiv {
	background-color:#fff;
	width:510px;
	padding:10px 0;
	margin:0 0 15px 0;
	font-size:16px;
}

th.list_header_center {
	background-color: #aac8fc;
	font-weight: bold;
	padding: 3px;
	vertical-align: top;
}

table.list_data, td.list_data, table.list_data_top, td.list_data_top {
	/* background-color: #dee9fc; disabled to background in popups */
	/* vertical-align: center; */
	padding: 3px;
}
td.list_data_submapping {
	background-color: #e9e9e9;
	padding: 2px;
	vertical-align: top;
	border: 1px solid #d0d0d0;
}
tr.list_record_hover td.list_data_highlighted {
	background-color: #e2e2e2;
}
tr.list_record_hover td.list_data_submapping {
	background-color: #e2e2e2;
}

table.list_data {
	text-align: left;
	background:#dee9fc;
}
table.table_data {
	text-align: left;
}

tr.list_record {
	background-color: #cadcfc;
}
tr.list_record_hover td {
	background-color: #ecf2fc;
}
tr.list_record td {
	/* vertical-align:middle; */
}
.weekviewweekday {
	width: 14%;
}

/* infolayer styles */
div#infocontainer {
	z-index: 10;
	right: 0px;
	top: 20px;
	text-align: right;
}

div.infolayer {
	border: 1px outset;
	background-color: #f2f2f2;
	padding: 1px;
	z-index: 10;
	margin-top: 3px;
	text-align: left;
	/* scrollbar toevoegen indien nodig */
	max-height: 400px;
	overflow: auto;
}
div.inforight {
	width: 500px;
	right: 5px;
	z-index: 11;
	display: none;
}
div.infovoip {
	width: 200px;
	margin-left: 300px;
	right: 5px;
	z-index: 11;
	display: none;
}
div.infobottom {
	margin: 0px auto;
	bottom: 0px;
}

div.infowait {
	position: absolute;
	top: 50%;
	left: 45%;
	text-align: center;
	display: none;
}

.nowrap {
	white-space: nowrap;
}


/* Businesscard tab CSS */
.bcard_tab_ul {
	list-style-type: none;
	line-height: 25px;
	height: 25px;
	padding: 0;
	margin: 5px 0 1px 0;
	width: 100%;
}
.bcard_tab_li {
	margin: 0 1px 0 0;
	float: left;
}
.bcard_tab_li:hover {
	background-color: #fff;
	color: #333;
}

.bcard_tab_li a {
	color: #273740;
	text-decoration: none;
	float: left;
	margin-right: 2px;
	padding: 0 6px 0 24px;
	background-color: #dee9fc;
}

.bcard_tab_li a:hover {
	background-color: #fff;
	color: #333;
}

.bcard_tab_li a.active {
	color: #333;
	background-color: #fff;
}

	/* content copied verbatim from old style, cleanup if needed */

	select#history option {
		color: black;
	}
	select#history optgroup {
		color: #777;
	}
	.window_header, .view_header, .fullwidth {
		width: 100%;
		text-align: left;
	}

	.pagecontent {
		padding: 0px 10px 0px 10px;
		vertical-align: top;
	}
	optgroup {
		font-family: arial, verdana, serif;
		font-size: 11px;
		color: #000;
		background-color: #f2f2f2;
	}

	/* class for full height and width */
	.fullheight {
		width: 100%;
		height: 100%;
	}
	.weekviewweekday {
		width: 14%;
	}
	/* style for window borders */
	.venster_data {
		/*background-color: #dee9fc;*/
		padding: 5px;
		border-style:solid;
		border-width:1px 0 1px 1px;
		border-color:#9b9aaa;
		vertical-align: top;
		width: 100%;
	}

	.window_header {
		border-top:2px solid #fff;
		padding:20px 0 10px 0;
	}

	.calendar_table {
		/*
		border-left: 1px solid #6da8c6;
		border-top: 1px solid #6da8c6;
		border-bottom: 1px solid #6da8c6;
		*/
		background-color: #dee9fc;
		margin-bottom:6px;
	}
	.calendar_user {
		border-left: 1px solid #6da8c6;
		vertical-align: top;
	}

	.venster_left_nomenu {
		/* nothing yet */
	}
	.venster_left_hasmenu {
		/* nothing yet */
	}
	.venster_right {
		vertical-align: top;
		background:transparent url('../../themes/7/dialog_r.jpg') repeat-y;
		border-width: 1px 1px 1px 0;
		border-style: solid;
		border-color: #9B9AAA;
	}
	div.venster_right_spacer {
		width: 20px;
	}

	.table_data {
		/*border: 1px solid #cdcdcd;*/
	}
	.imagebutton, .imageconstanttransparancy {
		margin-left: 1px;
		margin-right: 1px;
	}
	.currentpage {
		text-decoration: underline;
		font-weight: bold;
	}
	.marked {
		font-weight: bold;
	}
	
	td.menuLnk {
		font:11px Arial,Verdana,Tahoma,Helvetica;
		background-image: url('../../themes/7/menu_link_m.gif');
	}
	td.menuLnkNav {font:11px Arial,Verdana,Tahoma,Helvetica;background-image: url('../../themes/7/menu_link_m_nav.gif')}

	span.onderdeel {
		font-size: 18px;
		color:#000;
		padding: 2px;
	}
	/* This span should not be visible if empty */
	span.titel {
		color:#000;
		padding: 2px;
	}
	span.datum {font:22px Arial,Tahoma,Helvetica,Verdana;color:#AAAAAA;}
	span.gebruiker {font:11px Arial,Tahoma,Helvetica,Verdana;color:#333333;}
	span.menu {font:11px Arial,Tahoma,Helvetica,Verdana;color:#05488E;}

	.inputtext, .inputtextarea {
		background-color: #eaf1fc;
		font: 11px arial, verdana, serif;
		border: 1px solid #999;
		padding: 3px;
		margin: 1px;
	}
	.inputfocus {
		/* border-style: dotted; */
		border: 1px inset #555;
		background-color: #fffbf6;
	}

	.inputselect {
		background-color: #eaf1fc;
		font: 11px arial, verdana, serif;
	}
	.inputcheckbox {
		background-color: #eaf1fc;
	}
	.inputbutton {
		background-color: #fff;
		font: 11px arial, verdana, serif;
		border: 1px solid #ff6600;
		position: relative;
		top: -3px;
		height: 15px;
		color: #a94400;
		cursor: pointer;
	}

	li.enabled {
		/* list-style: image; */
		list-style-image: url('../../themes/default/personal.gif');
	}
	li.special {
		/* list-style: image; */
		list-style-image: url('../../themes/default/personal_silver.gif');
	}
	li.disabled {
		/* list-style: image; */
		list-style-image: url('../../themes/default/personal_red.gif');
	}
	li.group {
		/* list-style: image; */
		list-style-image: url('../../themes/default/personal_group.gif');
	}

	a {
		text-decoration:none;
		color:#0071bb;
	}
	a.no_underline {
		text-decoration: none;
	}
	a:hover {
		text-decoration:underline;
	}

	a.menu {
		font-size: 11px;
		color: #000;
	}

	/* {{{ general page styles */
	#page_container {
		height: 100%;
		width: 100%;
	}

	#td_page {
		height: 100%;
		width: 100%;
		text-align: center;
		vertical-align: middle;
	}

	#pageBottom {
		width: 100%;
	}
	/* }}} end general page styles */

	/* {{{ menu items etc */
	#td_menu {
		width: 100%;
		vertical-align: top;
		height: 95px;
	}
	#menu {
		width: 100%;
		vertical-align: top;
		margin: 0 0 20px 0;
  }

	#menuHome {
		padding-right:10px;
	}

	.menuItem {
		padding-top: 12px;
		width: 36px;
		background-repeat: no-repeat;
		background-position: 0px 9px;
		vertical-align: top;
	}

	.menuItem img {
		border: 0px;
	}

	#menuDate {
		display: inline;
		position: absolute;
		top: 0px;
		right: 0px;
		text-align: right;
	}

	#menuDate span.date {
		font-size: 18px !important;
		color: #dedede !important;
		font-weight: bold;
	}

	#menuDate span.user {
		font-size: 11px !important;
		color: #fff !important;
		margin-right: 6px;
	}

	#menuDate span.clock {
		color: #dedede !important;
	}
	#clock_seconds {
		margin-right: 6px;
	}
	/* }}} end menu */

	form {
		/* prevent whitespace when using form tags */
		display: inline;
	}

	/* {{{ desktop elements */
	div.desktopcontainer {
		width: 100%;
	}
	/* a block item on the desktop*/
	div.desktopItem {
		width:20%;
		background-color:#EFEFEF;
		border:1px solid #9B9C9E;
		margin:3px;
		text-align: left;
		display: table-cell;
	}

	/* title of the block, or division in a block*/
	div.desktopItemTitle {
		background-color:#E1E3E2;
		width:100%;
		height:20px;
		font-size: 11px;
		color:#666666;
		font-weight:bold;
	}

	/* layout the data in the desktopItem block*/
	div.desktopItemData {
		font-size: 11px;
		color:#666666;
		padding:4px;
	}
	/* }}} end desktop elements */

	/* progress bar styles */
	span.progressborder {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	span.progressbar {
		background-color: #ccc;
	}
	span.progressleft {
		border-left: 1px solid black;
	}
	span.progressright {
		border-right: 1px solid black;
	}

	a.action {
		vertical-align: middle;
		padding-left: 1px;
		padding-right: 1px;
	}

	div#covide_body {
		height: 100%;
		width: 100%;
	}

	div#infocontainer {
		z-index: 10;
		right: 0px;
		top: 20px;
		text-align: right;
	}

	div.infolayer {
		border: 1px outset;
		background-color: #f2f2f2;
		padding: 1px;
		z-index: 10;
		margin-top: 3px;
		text-align: left;
		/* scrollbar toevoegen indien nodig */
		max-height: 400px;
		overflow: auto;
	}
	div.inforight {
		width: 500px;
		right: 5px;
		z-index: 11;
		display: none;
	}
	div.infovoip {
		width: 200px;
		margin-left: 300px;
		right: 5px;
		z-index: 11;
		display: none;
	}
	div.infobottom {
		margin: 0px auto;
		bottom: 0px;
	}
	.nowrap {
		white-space: nowrap;
	}
	.bold {
		font-weight: bold;
	}
	.valign_top {
		vertical-align: top;
	}
	span.disabled {
		color: #777;
	}
	a.autocomplete {
		color: #666;
		padding: 1px;
	}
	li a {
		color: #666;
	}
	#xmlhttp_status {
		display: none;
		position: absolute;
		left: 0px;
		top: 0px;
		font-weight: bold;
		background-color: white;
		border: 1px outset black;
		padding: 2px 10px;
	}
	div.index_limit {
		height: 500px;
		overflow: auto;
		border: 1px solid #666;
		padding: 1px;
	}


	/* }}} end desktop elements */
    /* {{{ css for formvalidation stuff */

    .info   { color: black; background-color: transparent; font-weight: normal; }
    .warn   { color: rgb(120,0,0); background-color: transparent; font-weight: normal; }
    .error  { color: red; background-color: transparent; font-weight: bold }

    /* }}} */

	/* Businesscard tab CSS */
	.bcard_tab_ul {
		list-style-type: none;
		line-height: 25px;
		height: 25px;
		padding: 0;
		margin: 5px 0 1px 0;
		width: 100%;
	}
	.bcard_tab_li {
		margin: 0 1px 0 0;
		float: left;
		background-color: #DEE9FC;
		border: 1px solid #98A9BD;
		border-style: solid solid none solid;
	}
	.bcard_tab_li:hover {
		background-color: #EAF1FC;
	}
	.bcard_tab_li a {
		text-decoration: none; 
		outline: none;
		display: block;
		padding: 0 5px;
	}
	.selected {
		background-color: /*#AAC8FC*/ ; 
	}


.addressactionicons {
	position: absolute;
	z-index: 200;
	background-color: #aac8fc;
	border: 1px solid #e2e2e2;
	padding:4px;
}
div.adressactionicons a {display:block; padding:4px 0 !important; text-indent: 4px !important;}

.mod_header_menu_moreactions {
	position: absolute;
	right: 36px;
	z-index: 200;
	background-color: #aac8fc;
	border: 1px solid #e2e2e2;
	padding:4px;
}

.dcolortabs{
	padding: 5px 0 0 0;
	width: 100%;
	background: transparent;
	voice-family: "\"}\"";
	voice-family: inherit;
	clear: both;
	width: 100%;
	height: 24px;
}
.ddcolortabs ul.tab{
	margin:1px !important;
	padding:0;
	list-style:none;
	font-weight:bold;
}
.ddcolortabs li{
	font-size: 12px;
	display:inline;
	margin:0;
	padding:0;
}
.ddcolortabs a{
	float:right;
	color: #000;
	background-color: #aac8fc;
	margin:0 0 0 1px;
	padding:0 20px 1px 20px;
	text-decoration:none;
	letter-spacing: 0px;
}
.ddcolortabs a span{
	float:right;
	display:block;
	padding: 6px 8px 3px 7px;
}
.ddcolortabs a span{
	float:none;
}
.ddcolortabs a:hover{
	background-color: #dee9fb;
}
.ddcolortabs a:hover span{
	background-color: #dee9fb;
}
.ddcolortabs a.current, #ddcolortabs a.current span{ /*currently selected tab*/
	background-color: #dee9fb;
}
.ddcolortabsline{
	clear: both;
	padding: 0;
	width: 100%;
	height: 8px;
	line-height: 8px;
	background: #678b3f;
	border-top: 1px solid #fff; /*Remove this to remove border between bar and tabs*/
}
.tabcontainer{
	clear: both;
	width: 100%; /*width of 2nd level sub menus*/
}
.tabcontent{
	background-color: #dee9fb;
	padding: 5px;
	display: none;
}
.sales_div {
	padding: 5px;
}
.borderall {
	border: 1px solid #ccc;
}
.showhide {
	padding: 8px 9px;
	border-bottom: 1px solid #CCC;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	font-weight: 700;
}
.clear	{
	clear: both;
	overflow: hidden;
	line-height: 0;
}
.search_tbl {
	padding: 10px 0;
}
.search_td {
	border-left: 1px solid #999;
}
.padd_td {
	padding: 0 8px;
}
.search_users_tbl {
	margin-top: -10px;
}
.search_users_td {
	padding-right: 10px;
}
.search_users_div {
	margin-top: 12px;
}
.classification_div {
	width:200px;
	margin:auto;
}
.generaldiv {
	padding:5px;
}
.axis_tbl {
	margin : 15px 0 0 20px;
}
.chart_div {
	padding: 10px 20px 5px 15px;
}
.nosales_div {
	text-align: center;
	font-size:16px;
	color:#000;
	text-decoration:none;
	font-weight:700;
	padding: 5px 0;
}
.piechart_img {
	border: 1px solid #CCC;
	float:right;
	display:inline;
}
ul.totals {
	display:inline;
	margin:0 !important;
	padding:0 !important;
}
ul.totals li {
	display:inline;
	padding:0 5px;
	font-weight: bold;
	margin-left: 0px !important;
}
.text_center {
	text-align: center;
}
.sales_quotes_salesman_container{
	width:860px;
	height:318px;
	overflow-x:scroll;
	border: 1px solid #CCCCCC;
}
.sales_salesman_results_table{
	height:250px;
	overflow-x:hidden;
	overflow-y:scroll;
}
